.sidebar {
  border: 1px solid #000;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff0f5;
}
.sidebar .scroll {
  display: flex;
  flex-direction: column; /* stack checkboxes vertically */
  align-items: flex-start; /* align to left */
  justify-content: flex-start;

  overflow-y: auto !important;
  overflow-x: hidden !important;

  padding-right: 5px; /* space for scrollbar */
}
.MuiCheckbox-root {
  margin-right: 4px; /* smaller spacing */
}
