/* .sidebar .submenu {
  display: none;
} */
.nav li .submenu {
  visibility: hidden;
  transition: all;
  z-index: 999;
}
.nav li:hover .submenu {
  opacity: 1 !important;
  visibility: inherit;
  top: 100%;
}
.nav li .submenu li .submenu {
  top: 0px !important;
  left: 120% !important;
  opacity: 0 !important;
}
.nav li .submenu li:hover .submenu {
  left: 100% !important;
  opacity: 1 !important;
}
/* .submenu {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.submenu.active {
  opacity: 1;
  visibility: visible;
  max-height: 500px;
} */
