@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(158, 196, 158);
}

.container {
  width: 95%;
  margin: auto;
}

.link:hover {
  color: #0c8563;
}

.MuiBadge-badge {
  background-color: #0c8563 !important;
}
.icon:hover {
  color: #0c8563;
}

header {
  background-color: lavenderblush;
}
.col-2 {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-wrap: wrap; /* Prevent overflow on smaller screens */
  /* background-color: #ffb800; */
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1rem;
}
nav button {
  text-transform: capitalize !important;
  color: #000 !important;
}
nav button:hover {
  text-transform: capitalize !important;
  color: #0c8563 !important;
}
