@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(158, 196, 158);
}

.container {
  width: 95%;
  margin: auto;
}

.link:hover {
  color: #0c8563;
}

.MuiBadge-badge {
  background-color: #0c8563 !important;
}
.icon:hover {
  color: #0c8563;
}

header {
  background-color: lavenderblush;
}
.col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1rem;
}
nav button {
  text-transform: capitalize !important;
  color: #000 !important;
}
nav button:hover {
  text-transform: capitalize !important;
  color: #0c8563 !important;
}

.scroll ul li Button {
  color: #000 !important;
  text-transform: none;
}
.scroll ul li Button:hover {
  color: #0c8563 !important;
}
.divider {
  padding: 0;
  width: 100%;
  height: 2px;
  /* align-items: center;
  justify-content: center; */
  border-radius: 2;
  border: "15px solid";
  border-color: #0c8563;
  background-color: #0c8563;
  margin: 0 auto;
}
